@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), local('PTMono-Regular'), url(http://fonts.gstatic.com/s/ptmono/v3/jmle3kzCPnW8O7_gZGRDlQ.woff) format('woff');
}
